@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide font-Montserrat;
  }
  html {
    font-family: 'Montserrat', sans-serif;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply font-black text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }
  li {
    @apply cursor-pointer hover:text-[#5651e5];
  }

  /* button {
       @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
     } */
}
@layer components {
  .nav-link {
    @apply ml-10 text-sm uppercase hover:border-b;
  }
  .rounded-button {
    @apply rounded-full shadow-lg shadow-gray-400 p-3 cursor-pointer hover:text-[#1f2937] text-[#5651e5];
  }
  .sidebar-link {
    @apply py-4 text-sm sm:text-lg uppercase;
  }
  .social-button {
    @apply rounded-full shadow-lg shadow-gray-400 p-3 sm:p-5 cursor-pointer hover:scale-105 hover:text-[#1f2937] text-[#5651e5]   ease-in duration-300;
  }
  .social-button > a > svg {
    @apply sm:w-6 sm:h-6;
  }
  .home-social > a > svg {
    @apply w-5 h-5;
  }
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #5651e5 !important;
}
html {
  scroll-behavior: smooth !important;
}
